.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgba(206, 206, 206, 0.808);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  outline: 0.5px solid rgb(151, 151, 151);
}

.square {
  height: 50px;
  width: 50px;

  display: inline-block;

  outline: 0.5px solid rgb(151, 151, 151);
  margin: 0;
}

.row {
  height: 50px;
  width: 300px;
}

.game {
  height: 550px;
  position: relative;
}

.smallRow {
  height: 50px;
  width: 50px;
}

.nextIcons {
  position: absolute;
  top: 0;
  left: -100px;

  height: 100px;
  width: 50px;
}

.unlockedIcons {
  position: absolute;
  top: 0;
  right: -100px;

  height: 550px;
  width: 50px;

  outline: 0.5px solid rgb(151, 151, 151);
}

.score {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);

  height: 50px;

  color: rgb(151, 151, 151);

  font-family: Menlo;
}
